#board {
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 20vw;
  width: 20vw;
  margin: 1rem;
  border: green 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}